﻿@using ShallvaMVC.Utils;

@model Cart
@{
    ViewBag.Title = "עגלת קניות";
    bool userConnected = Request.IsAuthenticated;

}
@section pageTitle
{
    @if (Model.Items.Count > 0)
    {
        <h1>מספר הזמנה - @Model.OrderId תאריך - @Model.OrderDate.ToString("dd/MM/yyyy")</h1>
    }
    else
    {
        <h1>עגלת קניות</h1>
    }
    <a href="#">חזרה לכל ההזמנות</a>
}
@if (Model.Items.Count > 0)
{
    <table id="cart-table">
        <thead>
            <tr>
                <th class="sku">מק"ט</th>
                <th class="name">שם המוצר</th>
                <th class="props">תכונות</th>
                <th class="qnt">כמות</th>
                <th class="comm">הערה</th>
                @if (!Model.IsApproved)
                {
                    <th class="edit">&nbsp;</th>
                    <th class="remove">&nbsp;</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr data-id="@item.OrderId">
                    <td class="sku">@item.SKU</td>
                    <td class="name"><a href="@Url.Action("Product", "Products", new { productId = item.PicId })">@item.Name</a></td>
                    <td class="props">@item.Property</td>
                    <td class="qnt">@item.Quantity</td>
                    <td class="qnti hide"><input type="text" class="quantity" value="@item.Quantity" /></td>
                    <td class="comm">@item.Comment</td>
                    <td class="commi hide"><input type="text" class="comment" value="@item.Comment" /></td>
                    @if (!Model.IsApproved)
                    {
                        <td class="edit"><a><i class="glyphicon glyphicon-pencil"></i></a></td>
                        <td class="edit edit-ok hide"><a><i class="glyphicon glyphicon-ok"></i></a></td>
                        <td class="remove"><a><i class="glyphicon glyphicon-remove"></i></a></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    using (Html.BeginForm("ApproveOrder", "Orders", FormMethod.Post, new { id = "cart-form" }))
    {
        <div class="row">
            <div class="col-md-4 pull-right">
                <div class="form-group">
                    <label for="UserName">* שם המזמין</label>
                    @Html.ValidationMessageFor(x => x.UserName)
                    @Html.TextBoxFor(x => x.UserName, new { required = string.Empty, @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="UserMessage">הערה כללית</label>
                    @Html.ValidationMessageFor(x => x.UserMessage)
                    @Html.TextBoxFor(x => x.UserMessage, new { required = string.Empty, @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="btns">
            <input type="hidden" id="orderId" name="orderId" value="@Model.OrderId" />
            <a href="@Url.Action("Print", "Cart", new { orderId = Model.OrderId })" target="_blank" class="btn btn-default pull-right">גרסה להדפסה</a>
            @if (!Model.IsApproved)
            {
                <button type="button" class="btn btn-default pull-right" id="ro">מחיקה</button>
                <button type="submit" class="btn btn-default pull-right">אשר הזמנה</button>
            }
        </div>
    }

    using (Html.BeginForm("RemoveOrder", "Orders", FormMethod.Post, new { id = "roForm" }))
    {
        <input type="hidden" id="orderId" name="orderId" value="@Model.OrderId" />
    }

    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#ro').click(function () {
                    $('#roForm').submit();
                });
            });

            $(document).on('click', '.edit:not(.edit-ok) i', function () {
                closeRows();
                var parent = $(this).parents('tr');
                parent.find('.qnti').removeClass('hide');
                parent.find('.commi').removeClass('hide');

                parent.find('.qnt').addClass('hide');
                parent.find('.comm').addClass('hide');

                parent.find('.edit').addClass('hide');
                parent.find('.edit.edit-ok').removeClass('hide');

                parent = null;
            });

            $(document).on('click', '.edit.edit-ok i', function () {
                var parent = $(this).parents('tr');
                var id = parent.data('id');
                var qnt = parent.find('.qnti input').val();
                var comm = parent.find('.commi input').val();

                // UpdateCartProduct(int orderId, int quantity, bool isChecked, string comment)
                $.ajax({
                    method: "POST",
                    url: '@Url.Action("UpdateCartProduct", "Cart")',
                    data: {
                        orderId: id,
                        quantity: qnt,
                        comment: comm,
                        isChecked: false
                    },
                    success: function (data) {
                        parent.find('.qnti').addClass('hide');
                        parent.find('.commi').addClass('hide');

                        parent.find('.qnt').html(qnt);
                        parent.find('.comm').html(comm);
                        parent.find('.qnt').removeClass('hide');
                        parent.find('.comm').removeClass('hide');

                        parent.find('.edit').removeClass('hide');
                        parent.find('.edit.edit-ok').addClass('hide');

                        parent = id = qnt = comm = null;

                        closeRows();
                    }
                });

            });

            $(document).on('click', '.remove i', function () {
                var parent = $(this).parents('tr');
                var id = parent.data('id');

                $.ajax({
                    method: "POST",
                    url: '@Url.Action("RemoveProductFromCart", "Cart")',
                    data: {
                        orderId: id
                    },
                    success: function (data) {
                        parent.remove();
                        parent = id = null;
                    }
                });
            });

            function closeRows() {
                var rows = $('#cart-table tbody tr');
                rows.find('.qnti').addClass('hide');
                rows.find('.commi').addClass('hide');

                rows.find('.qnt').removeClass('hide');
                rows.find('.comm').removeClass('hide');

                rows.find('.edit').removeClass('hide');
                rows.find('.edit.edit-ok').addClass('hide');
                rows = null;
            }
        </script>
    }
}
else
{
    <p class="no-cart">
        עגלת הקניות שלך ריקה
    </p>
}