@model ShallvaMVC.Models.CategoryListItem

<div class="row cat-row" data-id="@Model.Id" data-order="@Model.OrderId">
    <div class="col-md-5">
        <a href="@Url.Action("ManageSubCategories", "Admin", new { mainCat = Model.Id})">@Html.Raw(Model.Name)</a>
    </div>
    <div class="col-md-1 move-down">
        <a href="#"><i class="glyphicon glyphicon-share-alt down"></i></a>
    </div>
    <div class="col-md-1 move-up">
        <a href="#"><i class="glyphicon glyphicon-share-alt up"></i></a>
    </div>
    <div class="col-md-3">
        <span>@Model.OrderId</span>
    </div>
    <div class="col-md-1 edit">
        <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="col-md-1 remove">
        <a href="#"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>

